<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games - Faber Games Arcade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arcade.css') }}">
</head>
<body class="arcade-bg">
    <div class="arcade-container">
        <h1 class="arcade-title">Games</h1>
        <ul class="arcade-list">
            {% for game in games %}
            <li><a class="arcade-link" href="/games/{{ game.slug }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="arcade-link" href="/">&larr; Voltar para Home</a>
    </div>
</body>
</html> 